apiVersion: apps/v1
kind: Deployment
metadata:
  name: "kojid-{{ meta.name }}-{{ koji_builder_type }}"
  labels:
    app: koji-builder
spec:
  replicas: {{ koji_builder_replicas|int }}
  selector:
    matchLabels:
      app: koji-builder
  template:
    metadata:
      labels:
        app: koji-builder
    spec:
      containers:
      - name: builder
        image: {{ koji_builder_image }}
        resources: {}
        livenessProbe:
          exec:
            command:
              - pgrep
              - kojid
          initialDelaySeconds: 5
          periodSeconds: 15
        volumeMounts:
        - name: config-volume
          mountPath: /etc/kojid
          readOnly: true
        - name: cacert-volume
          mountPath: /etc/certs/ca
          readOnly: true
        - name: client-cert-volume
          mountPath: /etc/certs/client
          readOnly: true
{% if koji_builder_volume %}
        - name: koji-builder-mnt
          mountPath: /mnt/koji
{% endif %}
      volumes:
      - name: config-volume
        configMap:
          name: "{{ koji_builder_configmap }}"
      - name: cacert-volume
        secret:
          secretName: "{{ koji_builder_cacert_secret }}"
      - name: client-cert-volume
        secret:
          secretName: "{{ koji_builder_client_cert_secret }}"
{% if koji_builder_volume  %}
      - name: koji-builder-mnt
        persistentVolumeClaim:
          claimName: "{{ koji_builder_shared_pvc }}"
{% endif %}
