apiVersion: apps/v1
kind: Deployment
metadata:
  name: koji-hub
  labels:
    app: koji-hub
spec:
  replicas: {{ koji_hub_replicas|int }}
  selector: 
    matchLabels:
      app: koji-hub
  template:
    metadata:
      labels:
        app: koji-hub
    spec:
      containers:
        - name: koji-hub
          image: "{{ koji_hub_image }}"
          livenessProbe:
            tcpSocket:
              port: {{ koji_hub_http_port }}
          readinessProbe:
            exec:
              command:
                - /readiness.sh
            initialDelaySeconds: 5
            periodSeconds: 15
          ports:
            - containerPort: {{ koji_hub_http_port }}
            - containerPort: {{ koji_hub_https_port }}
          envFrom:
            - secretRef:
                name: {{ koji_hub_postgres_secret }}
          volumeMounts:
            - name: config-volume
              mountPath: /etc/koji-hub
              readOnly: true
            - name: cacert-volume
              mountPath: /etc/cacert
              readOnly: true
            - name: webcert-volume
              mountPath: /etc/webcert
              readOnly: true
            - name: service-cert-volume
              mountPath: /etc/servicecert
              readOnly: true
            - name: koji-hub-httpd
              mountPath: /httpdir
            - name: koji-hub-mnt
              mountPath: /mnt/koji
      volumes:
        - name: cacert-volume
          secret:
            secretName: "{{ koji_hub_ca_cert_secret }}"
        - name: service-cert-volume
          secret:
            secretName: "{{ koji_hub_service_cert_secret }}"
        - name: webcert-volume
          secret:
            secretName: "{{ koji_hub_web_client_cert }}"
        - name: config-volume
          configMap:
            name: "{{ koji_hub_configmap }}"
        - name: koji-hub-mnt
          persistentVolumeClaim:
            claimName: "{{ koji_hub_mnt_pvc_name }}"
        - name: koji-hub-httpd
          emptyDir: {}
