apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ koji_hub_ingress_name }}
  labels:
    app: koji-hub
{% if koji_hub_ingress_backend == 'nginx' %}
  annotations:
    kubernetes.io/ingress.class: nginx
    kubernetes.io/ingress.allow-http: "false"
    nginx.ingress.kubernetes.io/ssl-passthrough: "true"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/secure-backends: "true"
{% endif %}
spec:
{% if koji_hub_https_enabled %}
  tls:
  - hosts:
    - {{ koji_hub_host }}
    secretName: {{ koji_hub_service_cert_secret }}
{% endif %}
  rules:
  - host: {{ koji_hub_host }}
    http:
      paths:
      - backend:
          service:
            name: {{ koji_hub_ingress_svc }}
            port:
              number: {{ koji_hub_http_port }}
        path: /kojihub
        pathType: Prefix
