[{{ meta.name }}-{{ meta.namespace }}]
weburl = https://{{ koji_hub_svc_name }}.{{ meta.namespace }}.svc.cluster.local:{{ koji_hub_https_port }}/koji
topurl = https://{{ koji_hub_svc_name }}.{{ meta.namespace }}.svc.cluster.local:{{ koji_hub_https_port }}
server = https://{{ koji_hub_svc_name }}.{{ meta.namespace }}.svc.cluster.local:{{ koji_hub_https_port }}/kojihub

;auth
authtype = ssl
cert = {{ lookup('env', 'HOME')}}/.koji/certs/{{ meta.name }}/client.pem
no_ssl_verify = True
