apiVersion: v1
kind: Service
metadata:
  name: {{ koji_hub_svc_name }}
  labels:
    app: koji-hub
    service: {{ koji_hub_svc_name }}
spec:
  selector:
    app: koji-hub
  type: NodePort
  ports:
{% if koji_hub_http_enabled %}
    - name: http
      port: {{ koji_hub_http_port }}
      targetPort: {{ koji_hub_http_port }}
{% endif %}
{% if koji_hub_https_enabled %}
    - name: https
      port: {{ koji_hub_https_port }}
      targetPort: {{ koji_hub_https_port }}
{% endif %}
