apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ koji_builder_configmap }}
  labels:
    app: koji-builder
data:
  kojid.conf: |-
    [kojid]
    maxjobs={{ koji_builder_maxjobs }}
    use_createrepo_c=True
    topurl = {{ koji_builder_koji_hub_url }}/pkgs
    vendor={{ koji_builder_vendor }}
    packager={{ koji_builder_vendor }}
    distribution={{ koji_builder_vendor }}
    mockhost=redhat-linux-gnu
    server={{ koji_builder_koji_hub_url }}/kojihub
    build_arch_can_fail = True
    plugins=

    ; Configuration authentication
    serverca = /etc/certs/ca/cert
    cert=/etc/certs/client/client.pem
