apiVersion: v1
kind: ConfigMap
metadata:
  name: kojid-cloudinit-status-server
  namespace: "{{ meta.namespace }}"
  labels:
    app: kojid
data:
  cloud-init-status-server.service: |-
    [Unit]
    Description=Cloud Init Status Server
    
    After=network.target
    
    [Service]
    ExecStart=python3 \
      -m http.server \
      5000 \
      -d /opt/cloud-init-status-server \
       --bind 0.0.0.0
    ExecReload=/bin/kill -USR1 $MAINPID
    
    [Install]
    WantedBy=multi-user.target
