apiVersion: v1
kind: Secret
metadata:
  name: "kojid-{{ meta.name }}-cloudinit-conf"
  namespace: "{{ meta.namespace }}"
  labels:
    app: "kojid-{{ meta.name }}-{{ koji_builder_type }}"
stringData:
  userData: |-
    #cloud-config
    ssh_pwauth: False
    password: koji
    chpasswd:
      expire: False
      list: |-
        root:koji
    bootcmd:
      # kojid.conf setup
      - mkdir -p /etc/kojid
      - "mount /dev/$(lsblk --nodeps -no name,serial | grep CVLY623300HK240D | cut -f1 -d' ') /etc/kojid"
      # client-cert setup
      - mkdir -p /etc/certs/client
      - "mount /dev/$(lsblk --nodeps -no name,serial | grep CVLY623300HK250D | cut -f1 -d' ') /etc/certs/client"
      # ca-cert setup
      - mkdir -p /etc/certs/ca
      - "mount /dev/$(lsblk --nodeps -no name,serial | grep CVLY623300HK260D | cut -f1 -d' ') /etc/certs/ca"
      # /var/lib/mock dir setup
      - "mkdir -p /var/lib/mock"
      - "chgrp -R mock /var/lib/mock"
      - "mkfs.ext4 /dev/$(lsblk --nodeps -no name,serial | grep CVLY623300HK230D | cut -f1 -d' ')"
      - "mount /dev/$(lsblk --nodeps -no name,serial | grep CVLY623300HK230D | cut -f1 -d' ') /var/lib/mock"
      # general setup
      - usermod -aG mock kojibuilder
      # - cp /mnt/kojid/conf/site-defaults.cfg /etc/mock/site-defaults.cfg
      - cp  /etc/certs/ca/crt /etc/pki/ca-trust/source/anchors/
      - update-ca-trust
