apiVersion: v1
kind: ConfigMap
metadata:
  name: kojid-default-setup
  namespace: "{{ meta.namespace }}"
  labels:
    app: kojid
data:
  setup.sh: |-
    #!/bin/bash
 
    # packages
    dnf install -y koji-builder
 
    # mock setup
    usermod -aG mock kojibuilder
    # cp /mnt/kojid/conf/site-defaults.cfg /etc/mock/site-defaults.cfg
 
    # kojid setup
    cp /mnt/kojid/conf/kojid.conf /etc/kojid/kojid.conf
    chmod 644 /etc/kojid/kojid.conf
 
    # cert setup
    mkdir -p /etc/certs
    cp /mnt/kojid/certs/ca/cert /etc/certs/ca.pem
    cp /mnt/kojid/certs/client/client.pem /etc/certs/client.pem
    chown -R kojibuilder /etc/certs
    cp  /etc/certs/* /etc/pki/ca-trust/source/anchors/
    update-ca-trust 
