apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: kojid-{{ meta.name }}-{{ koji_builder_type }}-mock
  labels:
    app: kojid-{{ meta.name }}-{{ koji_builder_type }}
  namespace: {{ meta.namespace }}
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 50Gi
