apiVersion: v1
kind: Service
metadata:
  name: kojid-{{ meta.name }}-ssh
  namespace: {{ meta.namespace }}
spec:
  ports:
    - port: 22
      protocol: TCP
      targetPort: 22
  selector:
    kubevirt.io/domain: {{ meta.name }}
    kubevirt.io/size: small
