apiVersion: kubevirt.io/v1alpha3
kind: VirtualMachine
metadata:
  name: "kojid-{{ meta.name }}-{{ koji_builder_type }}"
  labels:
    app: "kojid-{{ meta.name }}-{{ koji_builder_type }}"
  namespace: {{ meta.namespace }}
spec:
  running: {{ koji_builder_running }}
  template:
    metadata:
      labels:
        kubevirt.io/size: small
        kubevirt.io/domain: "kojid-{{ meta.name }}-{{ koji_builder_type }}"
    spec:
      terminationGracePeriodSeconds: 30
      readinessProbe:
        httpGet:
          port: 5000
          path: /result.json
        initialDelaySeconds: 120
        periodSeconds: 20
        timeoutSeconds: 10
        failureThreshold: 3
        successThreshold: 3
      domain:
        resources:
          requests:
            memory: "{{ koji_builder_memory  }}"
        devices:
          interfaces:
            - name: default
              masquerade: {}
          disks:
            - name: containerdisk
              disk:
                bus: virtio
            - name: cloudinitdisk
              disk:
                bus: virtio
            - name: mockdisk
              serial: CVLY623300HK230D
              disk: {}
            - name: kojid
              serial: CVLY623300HK240D
            - name: client-cert
              serial: CVLY623300HK250D
            - name: ca-cert
              serial: CVLY623300HK260D
            - name: mockcfg
              serial: CVLY623300HK270D 
            - name: cinitserver
              serial: CVLY623300HK280D 
      networks:
        - name: default
          pod: {}
      volumes:
        - name: containerdisk
          containerDisk:
            image: "{{ koji_builder_image }}"
        - name: cloudinitdisk
          cloudInitConfigDrive:
            secretRef:
              name: "kojid-{{ meta.name }}-cloud-init"
        - name: mockdisk
          persistentVolumeClaim:
            claimName: kojid-{{ meta.name }}-{{ koji_builder_type }}-mock
        - name: kojid
          configMap:
            name: "{{ koji_builder_configmap }}"
        - name: mockcfg
          configMap:
            name: kojid-mock-default
        - name: cinitserver
          configMap:
            name: kojid-cloudinit-status-server
        - name: client-cert
          secret:
            secretName: "{{ koji_builder_client_cert_secret }}"
        - name: ca-cert
          secret:
            secretName: "{{ koji_builder_cacert_secret }}"

